{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container vh-100">
        <div class="row d-flex align-items-center pt-5">
            <div class="col-12 col-md-6 my-auto text-center">
                <h1 class="display-4 text-white">Find here the wine you were looking for</h1>
            </div>
            <div class="col-12 col-md-4 my-auto text-center">
                <a href="{% url 'wines' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Wine Collection</a>
            </div>
        </div>
        <div class="container-fluid bg-warning py-2 mt-4 banner">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h5 class="text-dark mb-0">
                        Make the most of our seasonal discounts—available for a limited time only!
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row rows h-100">
            <div class="col-12 col-md-5 my-auto"> 
                <div class="card cards bg-light mb-3 w-100">
                    <h5 class="card-header cards-header">Exclusive Wine Club</h5>
                    <div class="card-body cards-body">
                        <h5 class="card-title cards-title">Subscribe to our newsletter</h5>
                        <p class="card-text cards-text">
                            Stay up-to-date with our latest wine collections, special offers, and expert wine tips.
                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-wine-glass"></i>  Receive exclusive discounts on premium wines</li>
                            <li><i class="fa-solid fa-wine-glass"></i>  Be the first to know about new arrivals</li>
                            <li><i class="fa-solid fa-wine-glass"></i>  Get invited to special wine events and tastings</li>
                            <li><i class="fa-solid fa-wine-glass"></i>  Access to expert wine pairing guides and recommendations</li>
                        </ul>
                    </div>
                    <img class="card-img-bottom" src="{{ MEDIA_URL }}cata-vino.jpg" alt="Card image cap">
                    <div class="subscription-form">
                        {% include 'subscriptions/subscribe.html' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <div class="card cards bg-light mb-3 w-100">
                    <h5 class="card-header cards-header">VinOp: Exclusive Wine Delivery</h5>
                    <img class="card-img-top" src="{{ MEDIA_URL }}wine-line.jpg" alt="Card image cap">
                    <p class="card-body cards-body">
                        <strong>VinOp</strong> is an exclusive wine delivery app offering premium, hard-to-find wines and personalized subscription plans. Subscribers receive curated wine selections, limited editions, and food pairings, along with exclusive benefits like discounts and early access to new releases. 
                        <br><br>
                        The app also provides valuable wine knowledge, tasting tips, pairing guides, and virtual tastings. Users can easily order wines, track deliveries, and participate in events while enjoying promotions, flash sales, and referral rewards.
                        <br><br>
                        VinOp is designed for wine lovers of all levels, offering a seamless, educational, and enjoyable experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

