{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You for Subscribing!</h2>
                <hr>
                <p class="text-black">We're thrilled to have you on board! A confirmation email has been sent to <strong>{{ subscription.email }}</strong> with more details about your subscription.</p>
                <p>Stay tuned for exciting updates, promotions, and offers coming your way soon!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <h4>You're all set!</h4>
                    <p>We appreciate your interest in staying updated with us. You're now part of our exclusive community. Be sure to check your inbox for more details!</p>
                </div>
            </div>
        </div>
        
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'wines' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Continue Exploring</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}
