<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Grape
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Cabernet Sauvignon</a>
                <a href="" class="dropdown-item">Chardonnay</a>
                <a href="" class="dropdown-item">Tempranillo</a>
                <a href="" class="dropdown-item">Merlot</a>
                <a href="" class="dropdown-item">Pinot Gris</a>
                <a href="" class="dropdown-item">Pinot Noir</a>
                <a href="" class="dropdown-item">Sauvignon Blanc</a>
                <a href="" class="dropdown-item">Syrah</a>
                <a href="" class="dropdown-item">Zinfandel</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Argentina</a>
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">Italy</a>
                <a href="" class="dropdown-item">New Zealand</a>
                <a href="" class="dropdown-item">Spain</a>
                <a href="" class="dropdown-item">USA</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'wines' %}">
                All Wines
            </a>
        </li>
    </ul>
</div>