<!-- Footer -->
<hr>
<footer class="footer mt-auto py-3 {% if request.path == '/' %}text-white{% elif request.path == '/bag/' %}d-none{% else %}text-black{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col d-none d-md-block">
                <p class="m-0 text-center">
                    <h6>Partnerships:</h6>
                    <a href="https://cav.cl/" target="_blank" rel="noopener" class="text-decoration-none">C.A.V.</a> |
                    <a href="https://www.vinography.com/" target="_blank" rel="noopener" class="text-decoration-none">Vinography</a> |
                    <a href="https://wineninjas.org/" target="_blank" rel="noopener" class="text-decoration-none">Wineninjas</a> |
                    <a href="https://worldinternationalschool.com/en/" target="_blank" rel="noopener" class="text-decoration-none">WINS</a> |
                    <a href="https://www.wineenthusiast.com/" target="_blank" rel="noopener" class="text-decoration-none">Wine enthusiast</a>
                </p>
            </div>
            <div class="col d-none d-md-block">
                <div class="m-0 text-center ">
                    <div class="font-weight-bold">
                        <a href="https://www.termsfeed.com/live/d28c4f75-f022-4eeb-ad6d-2b447db1a1e4" target="_blank" rel="noopener">
                            Privacy Policy
                        </a>
                    </div>
                    <div><i class="fa-solid fa-phone"></i> +24 000 500 03</div>
                    <div><i class="fa-regular fa-envelope"></i> verynicemail@gmail.com</div>
                    <div><i class="fa-solid fa-house"></i> 742 Evergreen Terrace</div>
                </div>
            </div>
            <div class="col">
                <p class="m-0 text-center">Follow us: 
                    <a href="https://www.facebook.com/profile.php?id=61568340493717/" target="_blank" rel="noopener">
                        <i class="fa-brands fa-square-facebook ms-3"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener">
                        <i class="fab fa-twitter-square ms-3"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram-square ms-3"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener">
                        <i class="fab fa-youtube-square ms-3"></i>
                    </a>
                    <h6>Made by Felipe Nast</h6>
                </p>
            </div>
        </div>
    </div>
</footer>